@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

.cont-modal {
    width: 947px;
    height: 951px;
    margin: 100px auto;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    box-shadow: 0px 0px 30px 0px gray;
  }
  .fighting {
  font-family: 'OTEnjoystoriesBA';
  font-weight: 700;
  font-size: 96px;
  line-height: 106px;
  text-align: center;
  color: #5B2386;
  }

  .can {
    margin-bottom: 20px;
font-family: 'OTEnjoystoriesBA';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
color: #5B2386;
  }

  .btn-go2 {
    margin-top: 74px;
padding: 21px 49px;
background: #FCEE21;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
border-radius: 56px;
font-family: 'GmarketSansBold';
font-weight: 700;
font-size: 23px;
line-height: 24px;
color: #5B2386;
  }